// *****************  CSS Of Cards*************
.wrape_dashboard {
    display: flex;
    flex-direction: column;
    background: rgb(246, 249, 252);
    width: -webkit-fill-available;

    .dashboard {
        padding: 0rem 0.9rem;

        // *****************  CSS Of Cards *************

        .dash_cards_box {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: .7rem;

            .card {
                display: flex;
                flex-direction: column;
                gap: .4rem;
                padding: 1rem;
                border-radius: .5rem;
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.205);

                .img_box {
                    width: 35px;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .title {
                    font-weight: bold;
                    color: white;
                }

                .count {
                    font-size: small;
                    color: white;
                }

            }

        }

        @media only screen and (max-width: 700px) {
            .dash_cards_box {
                display: flex;
                flex-direction: column;
                width: 100%;

                .card {
                    gap: .4rem;
                    padding: .5rem;

                    .img_box {
                        width: 30px;
                    }
                }
            }

        }
    }

}

// *****************  CSS Of Graph *************
.line_graph {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        text-align: center;
        font-weight: 400;
        margin-top: 25px;
        font-size: 27px;
    }

    .recharts-default-legend {
        display: none;
    }

    .recharts-wrapper {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recharts-surface {
        width: 90% !important;
    }
}

// *****************  CSS Of Progress bar *************

.donut_main {
    display: flex;
    width: 100%;
    justify-content: space-around;

    @media (max-width: 500px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .donut_chart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .donutchart {
            width: 300px !important;
            height: 300px !important;
        }

        .donut_title {
            font-weight: 400;
            margin: 10px 0;
            font-size: 20px;
        }
    }

    .battery {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        // font-family: "SourceSansVariable-Roman";
        font-weight: 400;
        margin: 10px 0;
        font-size: 20px;
    }

    .charging {
        // font-family: "SourceSansVariable-Roman";
        font-weight: 700;
        margin: 10px 0;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 25px;
            font-weight: 400;
            padding-top: 20px;
        }
    }
}