    .heading_atom {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 3rem 0rem;

        .a_heading {
            font-size: 28px;
        }

        .a_para {
            font-weight: 400;
            font-size: 22px;
        }

    }

    // ********** Media Queries ************
    @media screen and (max-width:1400px) {
        .heading_atom {
            gap: .3rem;
            padding: 2.2rem 0rem;

            .a_heading {
                font-size: 18px;
            }

            .a_para {
                font-size: 14px;
            }
        }
    }

    @media screen and (max-width:990px) {
        .heading_atom {
            gap: .2rem;
            padding: 1rem 0rem;

            .a_heading {
                font-size: 13px;
            }

            .a_para {
                font-size: 10px;
            }
        }
    }