    .heading_atom {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
       

        .a_heading {
            font-size: 18px;
            font-weight: 700;
        }

        .a_para {
            font-weight: 400;
            font-size: 15px;
        }

    }

    // ********** Media Queries ************

