.add_group {
  width: 100%;

  .title {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 11px;
    font-family: "SourceSansVariable-Roman";
    padding-top: 50px;
    padding-left: 30px;
    @media(max-width:450px){
      padding-left: unset;
      text-align: center;
       }
  }

  .para {
    padding-left: 30px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "SourceSansVariable-Roman";
    padding-top: 20px;
    @media(max-width:450px){
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
       }
  }


  .notice {
    background-color: #028cc9;
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-family: "SourceSansVariable-Roman";
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    padding-left: 20px;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 30px;
    @media(max-width:1120px){
     font-size: 11px;
     }
    @media(max-width:990px){
     font-size: 14px;
     }
    @media(max-width:840px){
     font-size: 11px;
     padding-left: 3px;
     gap: 2px;
     }
    @media(max-width:630px){
    display: none;
     }
  

    .bell {
      color: rgb(170, 166, 166);
    }
  }

  .group {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;

    label {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      font-family: "SourceSansVariable-Roman";
    }

    input {
      width: 93%;
      height: 40px;
      border-radius: 8px;
      border: none;
      background-color: whitesmoke;
      padding-left: 20px;
      margin-top: 20px;
      outline: purple;
    }
  }

  .file {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;

    label {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      font-family: "SourceSansVariable-Roman";
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  .buttons {
    padding-left: 30px;
    padding-top: 40px;
    display: flex;
    gap: 10px;

    button {
      font-weight: 400;
      font-size: 14px;
      font-family: "SourceSansVariable-Roman";
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
