.main_group {
  width: -webkit-fill-available;
  padding: 0 2rem 6rem 0.9rem;
  background: rgb(246, 249, 252);

  .title {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 11px;
    padding-top: 50px;
    padding-left: 30px;

    @media(max-width:600px) {
      padding-left: unset;
      text-align: center;
    }
  }

  .para {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 20px;

    @media(max-width:600px) {
      line-height: 25px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .buttons {
    display: flex;
    padding-left: 70px;
    gap: 20px;
    justify-content: flex-end;
    padding-top: 50px;
    border-bottom: 1px solid #ebedf3;
    padding-bottom: 20px;

    @media(max-width:600px) {
      padding-left: unset;
      justify-content: center;
      width: 100%;
      padding-top: unset;
    }

    button {
      padding: 10px 36px;
      color: #ffffff;
      background-color: #028cc9;
      border-color: #028cc9;
      font-weight: 600 !important;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.42rem;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      @media(max-width:600px) {
        font-size: 12px;
        padding: 5px 26px;
      }

      @media(max-width:350px) {
        font-size: 10px;
        padding: 3px 20px;
      }
    }
  }
.card_flex{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
  .card_main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @media(max-width:600px) {
      padding-left: 10px;
      padding-right: 10px;

    }

    @media(max-width:550px) {
      justify-content: center;
      align-items: center;
      padding-left: unset;
      padding-right: unset;
    }

    .card {
      margin-top: 1rem;
      background: #ffffff;
      border: 0.5px solid #dadada;
      box-shadow: 7px 2px 6px 0px rgb(0 0 0 / 21%);
      
      border-radius: 5px;
      background: #fff;
      overflow: hidden;
      margin-bottom: 20px;
      padding-bottom: 20px;
      width: 250px;

      @media(max-width:600px) {
        margin-left: unset;
      }

      .card_content {
        padding-left: 20px;
        padding-right: 20px;
      }

      .card_title {
        // width: 100%;
        background: #f5f5f6;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .card_date {
        font-family: "SourceSansVariable-Roman";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #6f6f6f;
        display: flex;

        align-items: center;
        padding-top: 20px;
        text-align: left;
        justify-content: space-between;

        .date {
          font-size: 15px;
        }
      }

      .card_list {
        font-family: "SourceSansVariable-Roman";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #6f6f6f;
        display: flex;
        text-align: left;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 10px;
        justify-content: space-between;
        cursor: pointer;

        .details {
          font-size: 15px;
          cursor: pointer;
        }
      }

      .icons {
        border-top: 1px solid #ebedf3;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        align-items: center;
        gap: 20px;

        .lock {
          font-size: 20px;
          color: green;
          cursor: pointer;
        }

        .del {
          font-size: 20px;
          color: #028cc9;
          cursor: pointer;
        }
      }
    }
  }
}
