.admin_panel{
    display: flex;
    flex-direction: column;
    background: rgb(246, 249, 252);
    width: -webkit-fill-available;
    height: 100vh;
    padding: 0rem 0.9rem;
}
.admin_button{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .admin_button_heading{
        font-size: 23px;
    }
    button{
        display: flex;
        gap: .7rem;
        padding: .65rem 2.2rem;
        color: #FFFFFF;
        background-color: #028CC9;
        border: none;
        outline: none;
        border-radius: 5px;
          .icon{
                font-size: 1rem;
            }
            .text{
              font-size: 13px;
              font-weight: bold;
            }
        }
}