.application_card{
    background: rgb(246, 249, 252);
    padding: 0rem 0.9rem;
    height: 100vh;
    width: 78vw;
}
.application_button{
    padding: 1rem;
    background-color: white;
    button{
        display: flex;
        gap: .7rem;
        padding: .4rem 1.5rem;
        color: #FFFFFF;
        background-color: #028CC9;
        border: none;
        outline: none;
        border-radius: 5px;
          .icon{
                // font-size: 1rem;
            }
            .text{
              font-size: 13px;
              font-weight: bold;
            }
        }
}