.Enroll_Component{
    background: rgb(246, 249, 252);
    padding: 0rem 0.9rem;
        .android{
            width: 16rem;
            padding: 0.5rem 3rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            border-bottom: 3px solid #028cc9;
            background-color: white;
        }
        .border{
            border-bottom: .5px solid #E4E6EF;;
        }
}
.enrol_devices{
    display: flex;
    justify-content: space-around;
        .e_devices{
            padding: 2rem 2rem 0 0;
            display: flex;
            border-right: 0.5px solid #E4E6EF;
                .image img{
                    height: 5rem;
                }
                .e_heading{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                }
                .heading{
                    font-size: 16px;
                    font-weight: 600;
                
                }
                .para{
                    font-size: 14px;
                    color: #6D6D6D;
                    padding-left: 20px;
                    font-weight: 400;
                }
        }

}
.e_qr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: -10rem;
    padding-left: 1rem;
     p{
        font-size: 13px;
        color: #6D6D6D;
    }
   

}
.e_qr img{
    width: 250px;
}

.size{
    font-size: 25px;
    color: #028cc9;
}
