.location_page{
    padding: 0rem 3rem;

}
@media screen and (max-width:1400px) {
    .location_page{
        padding: 0rem 1.5rem;
    
    }
    
}

@media screen and (max-width:990px) {
    
    .location_page{
        padding: 0rem 1rem;
        
    
    }
    
}